<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Join to a group</title>
  </head>
  <body>
    Hola
    {{invitatedUser}}, ¡{{adminUser}}
    te ha invitado a formar parte de su grupo
    {{group}}
    de Carewatch! Carewatch es una applicación movil comprometida con la
    sociedad, apoyando al cuidado de tu ser querido , para que puedas realizar
    sus cuidados con las indicaciones del medico y facilitandote la organización
    de los horarios de los cuidadores Sí deseas unirte al grupo o conocer más
    acerca de nuestra aplicación sigue el siguiente enlace
    {{link}}
  </body>
</html>